body {
    padding: 0px;
    margin: 0px;
    overflow-x:hidden;
    overflow-y: scroll;
}

.filter {
    margin-bottom: 40px;
}

.search {
    box-sizing: border-box;
    font-weight: 600;
    box-shadow: none;
    border: none;
    width: 100%;
    color: rgb(58, 53, 53);
}

.search-icon {
    object-fit: cover;
    height: 24px;
}


.search:focus {
    outline: none;
}

.search-container {
    width: 100%;
    height: fit-content;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgb(132, 132, 132);
    overflow: hidden;
    padding: 10px; 

}

.filter-tags-type, .filter-tags-games {
    background: rgba(195, 192, 192, 0.417);
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-weight: 600;
    color: rgb(78, 78, 78);
}

.active {
    background: rgba(225, 25, 25, 0.905);
    color: white;
}

.search-container:focus-within {
    border-color: #007BFF; 
}  


.pokemon-name {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1rem;
    color: rgb(30, 28, 28);
    text-decoration: none;
}

.filter-tag {
    margin-top: 20px;
    row-gap: 20px;
    display: grid;
    grid-template-columns: 100%;
}

.filter-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 5px;
}

.empty {
    width: 500px;
}

