<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/pokemonDetail.css">
    <link rel="icon" href="../assets/pokeballLogo.png">
</head>
<body>
    <header id="header">
        <img src="../assets/pokeballLogo.png" alt="logo" class="logo">
    </header>

    <main id="pokemon-detail">
        
        <div class="navigation">
            <span>
                <img class="pokeball-icon" src="../assets/pokeballLogo.png" alt="">
                <strong> {{ "#" + id }} </strong>
            </span>
            <span>
                <button @click="home()" class="home">
                    home
                </button>
                <button @click="prev()" v-if="id > 1" class="prev">
                    previous
                </button>
                <button @click="next()" v-if="id < 100000" class="next">
                    next
                </button>
            </span>
        </div>

        <div v-if="state.pageState == 'loading'" class="loading">
            <img src="../assets/loading.gif" alt="loading">
        </div>
        <div v-else>
            <div class="main-info">
                <div id="main-image-container">
                    <img ref="mainImage" id="main-image" src="../assets/loading.gif" alt="pokemon">
                </div>
                <ul>
                    <li id="pokemon-name">
                        <span>
                            {{ pokemonDetail.name.toUpperCase() }}
                        </span>
                        <div class="types">
                            <div 
                                v-for="type in pokemonDetail.types" 
                                :style="{ backgroundColor: typeColors[type.type.name], color: 'white'}">
                                {{ type.type.name }}
                            </div>
                        </div>
                    </li>
                    <li v-for="stat in stats">
                        <strong>
                            {{stat.name}}
                        </strong>
                        <div class="stat-bars">
                            <div class="fill-bar" :style="stat.style"></div>
                            <strong class="number-stat">{{stat.base_stat}}</strong>
                        </div>
                    </li>
                </ul>
            </div>
            
           <div id="moves">
                <h2>MOVES</h2>
                <div v-if="!moveLoaded" class="loading">
                    <img src="../assets/loading.gif" alt="loading">
                </div>
                <table v-else id="moves-table">
                    <tr>
                        <th>move</th>
                        <th>type</th>
                        <th>power</th>
                        <th>acc</th>
                        <th>pp</th>
                    </tr>
                    <tr v-for="move in movesPokemon">
                        <td>{{ move.name }}</td>

                        <td>
                            <div class="types">
                                <div 
                                    :style="{ backgroundColor: typeColors[move.type.name], color: 'white'}">
                                    {{ move.type.name }}
                                </div>
                            </div>
                        </td>

                        <td class="power">
                            {{ (move.power) ? move.power : "-" }}
                        </td>

                        <td class="acc">
                            {{ (move.accuracy) ? move.accuracy + "%" : "-" }}
                        </td>

                        <td class="pp">
                            {{ (move.pp) ? move.pp : "-" }}
                        </td>
                    </tr>
                </table>
           </div>

           <div id="held-items">
                <h2>HELD ITEMS</h2>
                <div v-if="!itemsLoaded" class="loading">
                    <img src="../assets/loading.gif" alt="loading">
                </div>
                <div v-else-if="heldItems.length < 1" class="items-empty">
                    <h1 class="held-items-message">Does Not Have Held items</h1>
                </div>
                <table v-else>
                    <tr>
                        <th>Sprite</th>
                        <th>Item</th>
                        <th>Effect</th>
                    </tr>

                    <tr v-for="item in heldItems">
                        <td>
                            <img :src="item.sprites.default" alt="item" loading="lazy">
                        </td>

                        <td>
                            {{ item.name }}
                        </td>

                        <td class="effect">
                            {{ item.effect_entries[0].short_effect }}
                        </td>
                    </tr>

                </table>
           </div>

           <div id="evolution">
                <h2>EVOLUTION</h2>
                <div v-if="!evolutionLoaded" class="loading">
                    <img src="../assets/loading.gif" alt="loading">
                </div>
                <div v-else>
                    <div ref="pokemonContainer"  class="pokemon-container">
                        <a v-for="pokemon in evolution" class="card" :href="'/vue_pokemon/pages/pokemonDetail.html?id=' + pokemon.id">
                            <strong class="id">{{ pokemon.id }}</strong>
                            <div class="image" :id="'pokemon' + pokemon.id">
                                <img  src="../assets/loading.gif" :alt="pokemon.name" class="pokemon-loading">
                            </div>
                            <strong class="pokemon-name">{{ pokemon.name.toUpperCase() }}</strong>
                            <div class="types">
                                <div 
                                    v-for="type in pokemon.types" 
                                    :style="{ backgroundColor: typeColors[type.type.name], color: 'white'}">
                                    {{ type.type.name }}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
           </div>


        </div>
    </main>

    <script type="module" src="../js/pokemonDetail.js"></script>
</body>
</html>